.header-icon {
    width: 64px;
    height: 64px;
}

.establishment-icon {
    width: 150px;
    height: 75px;
}

.green {
    background: #22bb5f;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}